---
import { replaceUrls } from "../utils/replaceUrls";
type Props = {
  styles: string;
  classes: string;
  label: string;
  url: string;
};
const { styles, classes, label, url } = Astro.props;
const href = replaceUrls(url, import.meta.env.PUBLIC_SITE_URL);
---

<li class={classes} style={styles}>
  <a href={href}>
    {label}
  </a>
</li>
