---
import { joinClasses } from "../utils/joinClasses";
type Props = {
  styles: string;
  classes: string;
  label?: string;
  url?: string;
};
const { styles, classes, label, url } = Astro.props;
const allClasses = joinClasses(classes, "group relative");
---

<li class={allClasses} style={styles}>
  <a href={url}>
    {label}
  </a>
  <ul class="hidden group-hover:block absolute top-full right-0">
    <slot />
  </ul>
</li>
